discord/
github-copilot/
GIMP/
hakuneko-desktop/
GitKraken/
Projecteur/
QtProject.conf
archlinux-tweak-tool/
autorandr/
Signal/
cat_installer/
autostart/
chromium/
coc/
dconf/
font-manager/
fontconfig/
gnuplot/
go/
gtk-2.0/
htop/
inkscape/
jgit/
lazygit/
libreoffice/
mozilla/
mimeapps.list
nautilus/
neofetch/
Nextcloud/
nitrogen/
nvim.bak/
lazy-lock.json
obs-studio/
pavucontrol.ini
pulse/
qalculate/
qt5ct/
ranger/plugins/
systemd/
session/
user-dirs.dirs
user-dirs.locale
yay/
texmf/tex/latex/circuitikz_outdated
texmf/tex/latex/local/mol2chemfig
texmf/tex/latex/local/twemojis
texmf/tex/latex/local/was
texmf/tex/latex/local/lettre*
texmf/tex/latex/local/nora_sign.png
texmf/tex/latex/local/pothier.png
texmf/tlpkg
texmf/web2c
baloofileinformationrc
dolphinrc
hypr/wallpaper_effects/.wallpaper_current
hypr/wallust/wallust-hyprland.conf
kitty/kitty-themes/01-Wallust.conf
quickshell/qml_color.json
rofi/wallust/colors-rofi.rasi
rofi/.current_wallpaper
waybar/wallust/colors-waybar.css
cava/config
hypr/workspaces.conf
Thunar/accels.scm
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
stremio-enhanced/
YouTube Music
simple-update-notifier
